<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managers (MongoDB)</title>
</head>
<body>
    <h1>Managers (MongoDB)</h1>
    <a href="/managers/add">Add Manager (MongoDB)</a>
    <table border="1">
        <thead>
            <tr>
                <th>Manager ID</th>
                <th>Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <% managers.forEach(manager => { %>
            <tr>
                <td><%= manager._id %></td>
                <td><%= manager.name %></td>
                <td><%= manager.salary %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
    <a href="/">Home</a>
</body>
</html>